.button {
    width: 296px;
    height: 70px;
    border: none;
    border-radius: 40px;
    background: #46F4DB;
    color: #07060B;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    &:hover {
        background: #57D272;
        transition: 0.5s all;
    }
    &_auction-down {
        display: block;
        margin: 0 auto;
        border: 5px solid #46F4DB;
        background-color: #fff;
        &:hover {
            background: #46F4DB
        }
    }
}