.hero {
    min-height: 680px;
    padding: 160px 0 160px 0;
    background: url('../../img/second_sct_bg.jpg') center (center/cover) no-repeat;
    &__title {
        color: #FFF;
        font-family: Russo One;
        font-size: 70px;
        font-weight: 400;
        line-height: normal;
    }
    &__btns {
        margin-top: 36px;
        :nth-child(2) {
            width: 274px;
            margin-left: 32px;
        }
        &-btn {
            width: 176px;
            height: 70px;
            border: none;
            border-radius: 40px;
            background-image: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
            color: #07060B;
            font-size: 20px;
            font-weight: 700;
            &:hover {
                background: #46F4DB;
                color: #07060B;
                transition: 0.5s all;
            }
        }
    }
}