.subscription {
    min-height: 391px;
    background: url('../../img/subscription_bg.jpg') center (center / cover) no-repeat;
    padding: 32px 0;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 460px;
        &_field {
            height: 70px;
            margin-bottom: 16px;
            padding-left: 32px;
            border-radius: 40px;
            background: #07060B;
            border: none;
            color: #EDEDF2;
            font-size: 20px;
            font-weight: 400;
        }
        &_checkbox {
            width: 0;
            height: 0;
            position: absolute;
            z-index: -1;
            &:checked + .subscription__form_checkbox-custom::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }
        &_checkbox-custom {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            background: none;
            margin-right: 8px;
            vertical-align: sub;
            border: 1px solid white;
            &::before {
                content: '';
                display: inline-block;
                width: 9px;
                height: 7px;
                background-image: url('../../icons/check.svg');
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 0.2s ease-in;
            }
        }

        &_text {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
            margin-top: 16px;
        }
    }

}