.title {
    color: #07060B;
    font-family: Russo One;
    font-size: 60px;
    font-weight: 400;
    line-height: 47px;
    &__new {
        color: white;
        margin-bottom: 39px;
        line-height: normal;
        &::before {
            content: "";
            margin-right: 16px;
            display: inline-block;
            background: url(../../icons/emoji_fire.png) center (center / cover) no-repeat;
            width: 48px;
            height: 48px;
        }
    }
    &__subscription {
        color: #FFF;
        font-size: 20px;
        margin-bottom: 32px;
        line-height: normal;
    }
    &__author {
        margin-bottom: 16px;
        color: #07060B;
        &-sub {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 16px;
        }
    }
}